{% extends 'base.html' %}

{% block title %}이용 가이드{% endblock title %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-lg-8">
            <article class="px-3">
                <!-- Header -->
                <header class="mb-4">
                    <h1 class="fw-bolder mb-1">이용 가이드</h1>
                </header>
                <section class="mb-5">
                    <p class="fs-6 mb-4">
                        참고: 본 웹사이트는 핸드폰 등 모바일 기기에서의 활용을 전제하여 제작되었으며, 데스크톱 환경에서 정상적으로 동작하지만 일부 포맷이 깨지거나 가독성이 떨어질 수 있습니다.
                    </p>
                    <h2 class="fw-bolder mb-4 mt-5">단원의 구성</h2>
                    <p class="fs-6 mb-4">
                        각 영역엔 강좌들이 단원별로 분류되어있습니다. 
                    </p>
                    <p class="fs-6 mb-4">
                        단원의 제목 위엔 회색 글씨로 단원의 분류가 표기되어있는데, 이는 다음과 같습니다.
                    </p>
                    <p class="fs-6 mb-4">
                        이론: 코드 등 음악 이론적인 분야를 다루는 단원
                    </p>
                    <p class="fs-6 mb-4">
                        스킬: 청음 등 음악가로서의 능력을 기르는 단원
                    </p>
                    <p class="fs-6 mb-4">
                        테크닉: 어려운 기술을 빠르고 쉽게 칠 수 있도록 돕는 단원
                    </p>
                    <p class="fs-6 mb-4">
                        패턴: 실제 즉흥 연주를 할 때 사용할 수 있는 각종 도구를 설명하는 단원
                    </p>
                    <h2 class="fw-bolder mb-4 mt-5">피아노배워를 끝냈다면</h2>
                    <p class="fs-6 mb-4">
                        만약 피아노배워의 내용이 너무 기초적이었거나 원하는 영역의 강좌를 모드 마스터했다면, 메뉴의 "학습 자원"에서 더 심화된 내용을 알아볼 수 있는
                        교재와 웹사이트를 찾아보실 수 있습니다. 
                    </p>
                    <p class="fs-6 mb-4">
                        만약 이용하시면서 불편했던 점이나 피아노배워에 꼭 추가되길 바라시는 강좌가 있으시다면 모든 페이지의 하단에 있는 설문조사 링크를 이용하셔서 피드백을 남겨주시길 바랍니다. 
                    </p>
                </section> 
            </article>
        </div>
    </div>
</div>
{% endblock content %}