{% extends 'article.html' %}
{% load static %}

{% block title %}코드의 뜻과 3화음{% endblock title %}
{% block header %}코드의 뜻과 3화음{% endblock header %}

{% block prev %}basic{% endblock prev %}
{% block next %}chord-seven{% endblock next %}

{% block content %}
<!-- Figure -->
<figure class="mb-4"><img class="img-fluid rounded" src=""></figure>
<!-- Content -->
<section class="mb-5">
    <p class="fs-5 mb-4">

    </p>
    <h2 class="fw-bolder mb-4 mt-5"></h2>
</section> 

<section class="mb-5">
    <p class="fs-5 mb-4">
        코드란 2개 이상의 음이 모여 내는 음을 의미합니다. 한국어론 화음이라고도 하는데, 이 강좌에선 두 단어를 번갈아 가며 사용합니다. 
        저희가 처음 알아볼 코드는 3화음(triad)입니다. 3화음은 근음에서 3도와 5도를 쌓아 만드는 화음으로, 실용음악의 기초가 되는 화음입니다. 
    </p>
    <h2 class="fw-bolder mb-4 mt-5">3화음</h2>
    <p class="fs-5 mb-4">
    </p>
    <h2 class="fw-bolder mb-4 mt-5"></h2>
</section> 
{% endblock content %}