{% extends 'base.html' %}
{% load static %}

{% block title %}반주 강좌 목록{% endblock title%}

{% block content %}
<section class="bg-light py-5 border-bottom">
    <div class="container px-3 my-5">
        <div class="text-center mb-5">
            <h2 class="fw-bolder">반주 강좌 목록</h2>
        </div>
        <div class="row gx-5 justify-content-center">
            <!-- 기초적인 반주 -->
            <div class="col-lg-6 col-xl-4">
                <div class="card mb-5">
                    <div class="card-body p-5">
                        <div class="small text-uppercase fw-bold text-muted">이론, 패턴</div>
                        <div class="mb-3">
                            <span class="display-6 fw-bold">기초적인 반주</span>
                        </div>
                        <ul class="list-unstyled mb-4">
                            <li class="mb-3">
                                <a class="clean-a" href="{{root}}root-left">근음 + 코드</a>
                            </li>
                            <li class="mb-3">
                                <a class="clean-a" href="{{root}}root-inversion">오른손의 인버젼</a>
                            </li>
                            <li class="mb-3">
                                <a class="clean-a" href="{{root}}root-alternate">오른손 쿵짝</a>
                            </li>
                            <li class="mb-3">
                                <a class="clean-a" href="{{root}}root-arpeggio">오른손 아르페지오</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- 기초적인 반주/ -->
            <!-- 왼손 추가 -->
            <div class="col-lg-6 col-xl-4">
                <div class="card mb-5">
                    <div class="card-body p-5">
                        <div class="small text-uppercase fw-bold text-muted">패턴</div>
                        <div class="mb-3">
                            <span class="display-6 fw-bold">왼손 패턴</span>
                        </div>
                        <ul class="list-unstyled mb-4">
                            <li class="mb-3">
                                <a class="clean-a" href="{{root}}left-alternate">왼손 쿵짝</a>
                            </li>
                            <li class="mb-3">
                                <a class="clean-a" href="{{root}}left-arpeggio">왼손 아르페지오</a>
                            </li>
                            <li class="mb-3">
                                <a class="clean-a" href="{{root}}left-bass">왼손 베이스</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- Card end -->
        </div>
    </div>
</section>
{% endblock content %}