{% extends 'base.html' %}
{% load static %}

{% block title %}커버 강좌 목록{% endblock title %}

{% block content %}
<section class="bg-light py-5 border-bottom">
    <div class="container px-3 my-5">
        <div class="text-center mb-5">
            <h2 class="fw-bolder">커버 강좌 목록</h2>
        </div>
        <div class="row gx-5 justify-content-center">
            <!-- 청음 -->
            <div class="col-lg-6 col-xl-4">
                <div class="card mb-5">
                    <div class="card-body p-5">
                        <div class="small text-uppercase fw-bold text-muted">스킬</div>
                        <div class="mb-3">
                            <span class="display-6 fw-bold">멜로디와 코드 따기</span>
                        </div>
                        <ul class="list-unstyled mb-4">
                            <li class="mb-3">
                                <a class="clean-a" href="{{root}}transcribe-key">키 찾기</a>
                            </li>
                            <li class="mb-3">
                                <a class="clean-a" href="{{root}}transcribe-interval">음정 훈련</a>
                            </li>
                            <li class="mb-3">
                                <a class="clean-a" href="{{root}}transcribe-chord">코드 찾기</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- 청음/ -->
            <!-- 왼손 반주 -->
            <div class="col-lg-6 col-xl-4">
                <div class="card mb-5">
                    <div class="card-body p-5">
                        <div class="small text-uppercase fw-bold text-muted">패턴</div>
                        <div class="mb-3">
                            <span class="display-6 fw-bold">왼손 패턴</span>
                        </div>
                        <ul class="list-unstyled mb-4">
                            <li class="mb-3">
                                <a class="clean-a" href="{{root}}lh-arpeggio">아르페지오</a>
                            </li>
                            <li class="mb-3">
                                <a class="clean-a" href="{{root}}lh-leap">왼손의 도약</a>
                            </li>
                            <li class="mb-3">
                                <a class="clean-a" href="{{root}}lh-bass">베이스</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- 왼손 반주/ -->
            <!-- 멜로디 꾸미기 -->
            <div class="col-lg-6 col-xl-4">
                <div class="card mb-5">
                    <div class="card-body p-5">
                        <div class="small text-uppercase fw-bold text-muted">패턴</div>
                        <div class="mb-3">
                            <span class="display-6 fw-bold">멜로디 꾸미기</span>
                        </div>
                        <ul class="list-unstyled mb-4">
                            <li class="mb-3">
                                <a class="clean-a" href="{{root}}melody-ornament">간단한 꾸밈 패턴</a>
                            </li>
                            <li class="mb-3">
                                <a class="clean-a" href="{{root}}melody-3">3도 화음 넣기</a>
                            </li>
                            <li class="mb-3">
                                <a class="clean-a" href="{{root}}melody-6">6도 화음 넣기</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- 멜로디 꾸미기/ -->
            <!-- 3/4 -->
            <div class="col-lg-6 col-xl-4">
                <div class="card mb-5">
                    <div class="card-body p-5">
                        <div class="small text-uppercase fw-bold text-muted">스킬, 패턴</div>
                        <div class="mb-3">
                            <span class="display-6 fw-bold">3분의 4박자</span>
                        </div>
                        <ul class="list-unstyled mb-4">
                            <li class="mb-3">
                                <a class="clean-a" href="{{root}}three4-basic">3/4 박자의 기초</a>
                            </li>
                            <li class="mb-3">
                                <a class="clean-a" href="{{root}}three4-waltz">욀츠식 연주</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- 3/4/ -->
        </div>
    </div>
</section>
{% endblock content %}

