{% extends 'article.html' %}
{% load static %}

{% block title %}왼손 아르페지오{% endblock title %}
{% block header %}왼손 아르페지오{% endblock header %}

{% block prev %}lh-bass{% endblock prev %}
{% block next %}lh-leap{% endblock next %}

{% block content %}
<section class="mb-5">
    <p class="fs-6 fs-xl-5 mb-4">
        뉴에이지 왼손 반주의 중심이자 어떠한 분위기에도 맞는 범용성 좋은 반주인 아르페지오를 배울 시간입니다. 깊은 저음에서부터 올라오는 아르페지오는 청중에게도 상승감을 주고, 
        반대로 끝없이 내려갈 때면 같이 하강감을 부여할 수 있습니다.
    </p>
    <p class="fs-6 mb-4">
        다시 도레미송의 예시를 이용해보겠습니다.
    </p>
    <figure class="mb-4"><img class="img-fluid rounded" src="{% static 'assets/figure/doremilharp.png' %}"></figure>
    <p class="fs-6 mb-4">
        아르페지오는 이론보다는 손에 익지 않아서 어려운 경우가 더 많습니다. 바른 손의 자세로 반복 연습해서 부드러운 아르페지오가 나오도록 해야합니다. 고의로 강세를 두는 것이 아니라면
        모든 음이 고른 세기의 소리로 울려야 합니다.
    </p>
    <h2 class="fw-bolder mb-4 mt-5">연습법</h2>
    <p class="fs-6 mb-4">
        여러가지 노래의 코드들로 아르페지오 반주를 진행해 보세요. 같은 박자의 노래라도 반주의 한 음의 음가를 두 배로, 절반으로, 또는 셋잇단 음표로 바꾸어 
        연습하다 보면 어떤 상황에서 어떤 박자를 사용할 지도 익히게 되고, 덜 지루하게 연습을 진행할 수 있습니다. 
    </p>
</section> 
{% endblock content %}