{% extends 'base.html' %}
{% load static %}

{% block title %}학습 자원{% endblock title %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-lg-8">
            <article class="px-3">
                <!-- Header -->
                <header class="mb-4">
                    <h1 class="fw-bolder mb-1">학습 자원</h1>
                </header>
                <section class="mb-5">
                    <p class="fs-6 mb-4">
                        피아노배워가 너무 기초적이거나, 원하시는 영역의 모든 강좌를 끝내셨다면 이곳에서 더 깊은 배움을 위한 여러 교재와 무료 자원을 찾으실 수 있습니다. 
                    </p>
                    <h2 class="fw-bolder mb-4 mt-5">이론: <a href="https://www.musictheory.net/lessons">musictheory.net</a></h2>
                    <p class="fs-6 mb-4">
                        musictheory.net은 영어로 되어있긴 하지만, 직관적인 문장구조 덕에 자동번역으로 충분한 가독성을 확보할 수 있습니다. 또 음악이론은 깊이 들어갈 수록
                        영어로 된 자료가 많기에, 미리 익숙해지시는 것을 추천드리기도 합니다. 
                    </p>
                    <p class="fs-6 mb-4">
                        이곳에선 메이저 코드 등의 기초적인 이론을 복습해보실 수 있으며, 비화성음이나 나폴리탄 코드 등의 상세한 이론을 배울 수 있습니다. 
                    </p>
                    
                    <h2 class="fw-bolder mb-4 mt-5">스킬: <a href="https://tonedear.com/">tonedear.com</a></h2>
                    <p class="fs-6 mb-4">
                        tonedear.com은 청음에 관련된 모든 테스트를 진행할 수 있는 웹사이트입니다. 음정을 맞추고, 복잡한 코드를 인식하고, 실시간으로 멜로디를 따는 등의 연습을
                        쉽게 해보실 수 있습니다.  
                        
                    </p>
                    <p class="fs-6 mb-4">
                        이곳에선 메이저 코드 등의 기초적인 이론을 복습해보실 수 있으며, 비화성음이나 나폴리탄 코드 등의 상세한 이론을 배울 수 있습니다. 
                    </p>
                </section> 
            </article>
        </div>
    </div>
</div>
{% endblock content %}